*.aux
*.log
*.out

.Rproj.user
*.Rproj
*Rplots.pdf
*concordance.tex
*.synctex.gz
.DS_Store
*.fdb_latexmk
*.fls
*.bbl
*.bcg
*.bcf
*.blg
*.run.xml
*.toc
figure/
assg3/answers/PlagueDoctors_4MB6_A3/refs.bib
assg3/answers/refs.bib
